
@import "normalize.css";
@import "__adaptive.scss";

body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    height: 100%;
}
#root{
    height: 100%;
}
.calendar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    &__month{
        text-align: center;
        flex: 1;
    }
    &__room{
    }
}
.action{
    &__carousel{
        position: relative;
        .action{
            position: absolute;
            width: 50px;
            height: 50px;
            top: 13px;
            &__prev{
                left: 0;
            }
            &__next{
                right: 0;
            }
        }
    }
}
.room{
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-end;
    padding-bottom: 20px;
    text-align: center;
    &__title {
        padding: 10px 20px 16px;
        box-shadow: 0 -23px 20px -23px rgba(0, 0, 0, .2) inset, 0 23px 20px -23px rgba(0, 0, 0, .2) inset;
        &_text{
            font-size: 24px;
            padding-bottom: 5px
        }
        &_descr{
            font-size: 16px;
            color: #a5a5a5;
        }
    }
    &__day, .day{
        width: 100%;
        padding: 0;
        column-count: 2;
        column-gap: 0;
        &__hour{
            display: block;
            padding: 20px 15px 24px;
        }
    }
}