
@import "normalize.css";

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.main{
    margin: 0 auto;
}

.time{
    width: 100%;
    padding: 0;
    column-count: 2;
    column-gap: 0;
    &__hour{
        display: block;
        padding: 4px 15px 2px;
    }
}

@media screen and (min-width: 1159px){
    .main{
        width: 1140px;
    }
}